<div class ="container min-h-full mx-auto p-6">
    <div class="tracking-wider text-xl border-b-2 font-semibold text-gray-700">
        My Todos
    </div>
    <div class="flex flex-wrap -mx-1 overflow-hidden sm:-mx-3">
        <div *ngFor="let item of todos" class="my-1 px-1 w-full overflow-hidden sm:my-3 sm:px-3 sm:w-1/2 md:w-1/3 lg:w-1/4">
            <!-- Column Content -->  
            <div class="p-2">
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="flex flex-col">
                        <div class="text-center text-gl font-semibold tracking-wider text-gray-800">
                            {{ item.label }}
                        </div>
                        <div class="text-center tracking-wider text-gray-600">{{ item.kategorija }}</div>
                        </div>
                    </ng-template>
                    <div class="flex flex-col w-full">
                        <div class="flex px-4 item-center justify-between" *ngFor="let stavka of item.stavke">
                            <div>{{ stavka.label }}</div>                            
                            <!-- <div>{{ stavka.isCompleted }}</div> -->

                            <!-- <i *ngIf="stavka.isCompleted" class="pi pi-check-circle"></i>
                            <i *ngIf="!stavka.isCompleted" class="pi pi-times-circle"></i> -->

                            <!-- <i class="pi" [ngClass]="{'pi-check-circle': stavka.isCompleted, 'pi-times-circle': !stavka.isCompleted}"></i> -->

                            <i *ngIf="stavka.isCompleted; else notCompletedRef" class="pi pi-check-circle text-green-600"></i>
                        </div>
                    </div>
                    <ng-template pTemplate="footer">
                        <div class="flex items-center justify-between w-full text-lg text-gray-800">
                            <div>Kreiran dana</div>
                            <div>{{item.datum | date: 'dd-MM-yyyy, h:mm'}}</div>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>

<ng-template #notCompletedRef>
    <i class="pi pi-times-circle text-red-600"></i>
</ng-template>